.loginPage {
  height: 100vh;
  position: relative;
}
.loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: beige;
  transform: translate(-50%, -50%);
  direction: ltr;
  border-radius: 20px;
}
.textInput {
  direction: ltr;
}
